body{
    background-color: lightgrey
}


#container {
    width:60%;
    display: inline-block;
}

.gif-div{
    display:inline-block;
    max-width: 350px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.gif{
    max-width: 300px;
}

.carButton{
    width: 100px;
    height: 40px;
    background-color: teal;
    color: white;
    margin-bottom: 5px;
    margin-right:5px;
}


#search-box{
    margin-top: 10px;
    margin-left:5px;
    font-weight:bold;
    margin-bottom: 20px;
}

input{
    height:15px;
    width: 140px;
    border: 2px solid grey
}

#favorites{
    width:35%;
    display: inline-block;  
    vertical-align: top;  
    
}

#favorites-text{
    font-weight:bold;
    background-color:teal;
    color:white;
    padding:8px;
    height:23px;
}

#gif-button{
    background-color: teal;
    color: white;
    display: block;
    padding: 10px;
}

@media (max-width: 920px){
    .gif{
        max-width: 200px;
    }
}

@media (max-width: 630px){
    .gif{
        max-width: 100px;
    }
}





